@media (min-width:770px) {
  .general{
    display: flex;
    justify-content: space-evenly;
  }
  
  .general__second{
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    width: 600px;
    height: 43.75em;
    border-radius: 1em;
    margin: 1em;
    padding-right: 1em;
    padding-left: 1em;
  }
}

/* @media (max-width:1000px) {
  .general__second{
    padding-right: 1em;
    padding-left: 1em;
  }
} */